@charset "UTF-8";

body{
    font: normal 1em arial;
    background-color: rgb(97, 160, 255);
}

header{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    margin: auto;
    width: 300px;
}

div{
    text-align: center;
}

footer{
    text-align: center;
    color: white;
}